/**
 * GitHub theme for prism.js
 * @author Jongwoo Han (@jongwooo)
 */

:root {
	--color-fg-default: #24292f;
	--color-bg-code-block: #f6f8fa;
	--color-bg-inline-code-block: rgb(175 184 193 / 20%);
	--color-gray: #6e7781;
	--color-red: #cf222e;
	--color-green: #116329;
	--color-blue: #0550ae;
	--color-indigo: #0a3069;
	--color-purple: #8250df;
	--color-brown: #953800;
}

/* Automatic dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-fg-default: #c9d1d9;
		--color-bg-code-block: #161b22;
		--color-bg-inline-code-block: rgb(110 118 129 / 40%);
		--color-gray: #8b949e;
		--color-red: #ff7b72;
		--color-green: #7ee787;
		--color-blue: #79c0ff;
		--color-indigo: #a5d6ff;
		--color-purple: #d2a8ff;
		--color-brown: #ffa657;
	}
}

code[class*="language-"],
pre[class*="language-"] {
	background-color: var(--color-bg-code-block);
	color: var(--color-fg-default);
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	font-size: 0.875rem;
	font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	font-size: 1rem;
	background-color: var(--color-bg-inline-code-block);
	padding: 0.2em 0.3em;
	border-radius: 0.3em;
	white-space: normal;
}

@media (max-width: 700px) {
	:not(pre) > code[class*="language-"] {
		font-size: 0.875rem;
	}
}

.token.comment,
.token.prolog,
.token.cdata {
	color: var(--color-gray);
}

.token.doctype,
.token.punctuation,
.token.entity {
	color: var(--color-fg-default);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
	color: var(--color-blue);
}

.token.keyword {
	color: var(--color-indigo);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
	color: var(--color-green);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
	color: var(--color-blue);
}

.token.variable,
.token.operator,
.token.function {
	color: var(--color-indigo);
}

.token.url {
	color: var(--color-green);
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
	color: var(--color-fg-default);
}

/* CSS overrides */
.language-css .token.selector {
	color: var(--color-green);
}

.language-css .token.property {
	color: var(--color-blue);
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
	color: var(--color-red);
}

/* JS overrides */
.language-js .token.keyword,
.language-javascript .token.keyword {
	color: var(--color-red);
}

.language-js .token.operator,
.language-js .token.constant,
.language-js .token.boolean,
.language-js .token.number,
.language-js .token.atrule,
.language-javascript .token.operator,
.language-javascript .token.constant,
.language-javascript .token.boolean,
.language-javascript .token.number,
.language-javascript .token.atrule {
	color: var(--color-blue);
}

.language-js .token.function,
.language-javascript .token.function {
	color: var(--color-purple);
}

.language-js .token.attr-name,
.language-js .token.class-name,
.language-js .token.function-variable,
.language-javascript .token.attr-name,
.language-javascript .token.class-name,
.language-javascript .token.function-variable {
	color: var(--color-brown);
}

/* JSX overrides */
.language-jsx .token.keyword {
	color: var(--color-red);
}

.language-jsx .token.function {
	color: var(--color-purple);
}

.language-jsx .token.function-variable {
	color: var(--color-brown);
}

.language-jsx .token.punctuation {
	color: var(--color-blue);
}

.language-jsx .token.attr-name,
.language-jsx .token.class-name {
	color: var(--color-green);
}

.language-jsx .token.string {
	color: var(--color-indigo);
}

/* TS overrides */
.language-ts .token.keyword {
	color: var(--color-red);
}

.language-ts .token.operator,
.language-ts .token.constant,
.language-ts .token.boolean,
.language-ts .token.number,
.language-ts .token.atrule {
	color: var(--color-blue);
}

.language-ts .token.function {
	color: var(--color-purple);
}

.language-ts .token.attr-name,
.language-ts .token.class-name,
.language-ts .token.function-variable {
	color: var(--color-brown);
}

/* TSX overrides */
.language-tsx .token.keyword {
	color: var(--color-red);
}

.language-tsx .token.function {
	color: var(--color-purple);
}

.language-tsx .token.function-variable {
	color: var(--color-brown);
}

.language-tsx .token.punctuation {
	color: var(--color-blue);
}

.language-tsx .token.attr-name,
.language-tsx .token.class-name {
	color: var(--color-green);
}

.language-tsx .token.string {
	color: var(--color-indigo);
}

/* JSON overrides */
.language-json .token.operator {
	color: var(--color-fg-default);
}

.language-json .token.null.keyword {
	color: var(--color-blue);
}

/* YAML overrides */
.language-yml .token.atrule,
.language-yaml .token.atrule {
	color: var(--color-green);
}

/* General */
.token.bold {
	font-weight: bold;
}

.token.comment,
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.namespace {
	opacity: 0.8;
}
